<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Status</title>
    <!-- font awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />

    <!-- favicon -->
    <link
      rel="icon"
      type="image/svg+xml"
      sizes="16x16"
      href="/favicon-16x16.png"
    />

    <!-- css -->
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="status__card">
      <div id="status__icon"></div>
      <div id="status__message" class=""></div>
      <a href="http://localhost:5173/login" id="card__btn" class="">
        Login Now
      </a>
    </div>
    <script src="/js/status.js"></script>
  </body>
</html>
