@import "./loading.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}

@layer base {
  :root {
    --color-bg: 227 227 227;
    --color-primary: 255 255 255;
    --color-secondary: 255 255 255;
    --color-ascent1: 0 0 0;
    --color-ascent2: 89 91 100;
    --color-yellow: 255 242 66;
    --color-white: 255 255 255;
    --color-black: 0 0 0;
  }

  /* //15 23 42  21 30 49*/
  [data-theme="dark"] {
    --color-bg: 12 12 12;
    --color-primary: 31 31 31;
    --color-secondary: 47 45 48;
    --color-ascent1: 255 255 255;
    --color-ascent2: 164 161 162;
    --color-yellow: 255 242 66;
    /* //16 176 255; */
    --color-white: 255 255 255;
    --color-black: 0 0 0;
  }
}
